# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env
.env.*

# SQLite database
*.db
*.sqlite3

# VSCode
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Test and coverage
htmlcov/
.coverage
.tox/
.pytest_cache/

# Misc
*.bak 